[submodule "upy-lib"]
	path = vendor/upy-lib
	url = https://github.com/kmkfw/micropython-lib.git
	ignore = dirty
[submodule "micropython"]
	path = vendor/micropython
	url = https://github.com/kmkfw/micropython.git
	ignore = dirty
