[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "*"
"flake8-commas" = "*"
"flake8-comprehensions" = "*"
"flake8-isort" = "*"
"flake8-per-file-ignores" = "*"
"python-magic" = "*"
adafruit-ampy = "*"
ipdb = "*"
ipython = "*"
isort = "*"
neovim = "*"
s3cmd = "*"
black = "==19.3b0"
flake8-quotes = "*"
flake8-black = "*"

[requires]
python_version = "3.7"
