[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-black = "*"
flake8-isort = "*"
adafruit-ampy = "*"
ipdb = "*"
ipython = "*"
neovim = "*"
s3cmd = "*"

[requires]
python = "3.9"