[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
adafruit-ampy = "*"
"flake8" = "*"
"flake8-comprehensions" = "*"
ipython = "*"
ipdb = "*"
"flake8-commas" = "*"
isort = "*"
"flake8-isort" = "*"

[requires]
python_version = "3.7"
